{% trans_default_domain params.domain %}

{% set mediafile = params.mediafile %}
{% set links = [] %}

{% if params.mediafileVoter.isGranted('media-file-edit', mediafile, app.user) %}
	{% set links = links|merge([
			{
				'load': true, 'icon': 'edit', 'title': 'mediafile.edit'|trans,
				'path': path(params.media.route ~ 'edit', {'id': mediafile.id})
			}
		])
	%}
{% endif %}

{% set links = links|merge([
		{
			'icon': 'download', 'title': 'mediafile.upload'|trans,
			'path': path(params.media.route ~ 'load', {'id': mediafile.id})
		}
	])
%}

{{ allmega_render_actions_list({
		'info': {'content': include(params.media.path ~ 'inc/_info.html.twig')},
		'links': links
	})
}}