{% trans_default_domain params.domain %}

{% if params.mediafileVoter.isGranted('media-file-info', mediafile, app.user) %}
   <div class="fw-bold">{{ 'mediafile.label.groups'|trans }}:</div>
   <div class="ps-3 mb-1">
      {% for group in mediafile.groups %}
         - {{ group.name }}{% if not loop.last %}<br>{% endif %}
      {% else %}
         - {{ 'label.groups_blank'|trans }}
      {% endfor %}
   </div>
   <hr>{{ mediafile|allmega_item_info }}<hr>
{% endif %}

<div>
   {{ 'mediafile.filesize'|trans({'%size%': mediafile.filesize|allmega_format_bytes}) }}<br>
   {{ 'mediafile.filetype'|trans({'%type%': mediafile.filetype}) }}<br>
   {{ 'mediafile.loaded'|trans({'%count%': mediafile.hits})|raw }}
</div>