<div class="allmega-breadcrumb-line">
	{% for item in gallery.parents %}
		{% if not loop.last %}
			<a href="{{ path(params.route ~ 'show', {'slug': item.slug}) }}">{{ item.title }}</a> / 
		{% else %}
			<span class="fw-bold">{{ item.title }}</span>
		{% endif %}
	{% endfor %}
</div>