{% set mediafile = params.mediafile %}

<div class="px-3">
    <p>{{ mediafile.description }}</p>

    {% if 'image' in mediafile.filetype %}
        <hr>
        <img src="{{ mediafile.getBase64Image(params.galleriesPath) }}" class="w-100 mb-2">
    {% endif %}

    {% if mediafile.isWeb() %}
        <hr>
        <div class="d-inline-flex">
            <strong>Web Path:</strong>&nbsp;&nbsp;/media/{{ mediafile.getRelativePath() }}
        </div>
    {% endif %}
</div>