{% set links = [] %}

{% if not gallery.sys and params.galleryVoter.isGranted('media-gallery-edit', gallery, app.user) %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'edit',
                'title': 'gallery.edit'|trans({}, params.domain),
                'path': path(params.route ~ 'edit', {'id': gallery.id})
            },
        ])
    %}
{% endif %}

{% if params.mediafileVoter.isGranted('media-file-add', gallery, app.user) %}
    {% set links = links|merge([
            {
				'load': true, 'icon': 'plus-circle',
				'title': 'mediafile.create'|trans({}, params.domain),
				'path': path(params.media.route ~ 'add', {'slug': gallery.slug})
			}
        ])
    %}
{% endif %}

{{ allmega_render_heading({
        'title': {'content': gallery.title},
        'actionsList': {
            'info': {'show': true, 'content': include(params.path ~ 'inc/_info.html.twig')},
            'sort': {'item': item, 'sortables': mediafiles},
            'links': links
        }
    })
}}

<div class="ps-3">
    {{ include(params.path ~ 'inc/_breadcrumb.html.twig') }}
</div><hr>