{% trans_default_domain params.domain %}

{{ gallery.description|allmega_print }}<hr>

{% if params.galleryVoter.isGranted('media-gallery-info', gallery, app.user) %}
   <div class="fw-bold">{{ 'gallery.label.groups'|trans }}</div>
   <div class="ms-3">
      {% for group in gallery.groups %}
         - {{ group.name }}{% if not loop.last %}<br>{% endif %}
      {% else %}
         - {{ 'label.groups_blank'|trans }}
      {% endfor %}
   </div>
   <hr>{{ gallery|allmega_item_info }}<hr>
{% endif %}

{{ 'gallery.count_files'|trans({'%count%': gallery.mediafiles.count()})|raw }}