<div class="col-md-8 mb-3">
	<div class="shadow-lg allmega-head-actions-list">
		{{ include(params.path ~ 'inc/_heading.html.twig') }}
		{{ include(params.path ~ 'inc/_subgalleries.html.twig') }}
		{{ include(params.path ~ 'inc/_slider.html.twig') }}
		{{ allmega_render_pagination(mediafiles) }}
	</div>
</div>