{% trans_default_domain params.domain %}

<div class="col-md-4">
    <div class="shadow-lg mb-3 allmega-head-actions-list">

        {% set links = {} %}
        {% if params.galleryVoter.isGranted('media-gallery-add', null, app.user) %}
            {% set links = [{
                    'title': 'gallery.create'|trans,
                    'load': true, 'icon': 'plus-circle',
                    'path': path(params.route ~ 'add')
                }]
            %}
        {% endif %}

        {{ allmega_render_heading({
                'title': {'content': 'gallery.list'|trans},
                'actionsList': {'links': links}
            })
        }}
        
        <ul class="px-3 pb-3">
            {% for gallery in galleries %}
                {{ include(params.path ~ 'inc/_point.html.twig') }}
            {% else %}
                <li>{{ 'gallery.empty'|trans({}, params.domain) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>