<li>
	<span class="allmega-folder-menu allmega-slider-title">
		<i class="fa-solid fa-folder"></i>
	</span>
	<a href="{{ gallery.row.url }}">{{ gallery.row.title }}</a> 
	{% if gallery.childs|default(false) %}
		<ul class="ms-3" style="display: none;">
		    {% for gallery in gallery.childs %}
		        {{ include(params.path ~ 'inc/_point.html.twig') }}
		    {% endfor %}
	    </ul>
	{% endif %}
</li>