<div class="allmega-root-list">
    <div class="row">
        {% for mediafile in mediafiles %}
            {% if params.mediafileVoter.isGranted('media-file-load', mediafile, app.user) %}
                <div class="col-lg-6">
                    <div class="shadow-lg mb-3">
                        {{ allmega_render_slider_content({
                                'params': params|merge({'mediafile': mediafile, 'galleriesPath': galleriesPath}),
                                'title': mediafile.title,
                                'templates': {
                                    'content': params.path ~ 'inc/_content.html.twig',
                                    'menu': params.media.path ~ 'inc/_actions.html.twig'
                                }
                            })
                        }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="pb-3">{{ 'mediafile.empty'|trans({}, params.domain) }}</div>
        {% endfor %}
    </div>
</div>