{% trans_default_domain params.domain %}

<div class="text-end px-3">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'gallery.childs.galleries'|trans }}
        </button>
        <ul class="dropdown-menu p-1">
            {% for gallery in params.childGalleries %}
                <li>
                    {{ allmega_render_link({
                            'path': path(params.route ~ 'show', {'slug': gallery.slug}),
                            'title': gallery.title,
                            'label': gallery.title,
                            'css': 'dropdown-item',
                            'icon': 'arrow-right',
                        })
                    }}
                </li>
            {% else %}
                <li class="text-end text-muted text-small">
                    {{ 'gallery.childs.empty'|trans }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr>
