{% set params = filesWidget.viewParams %}
<div class="allmega-media-list my-3">
	{{ allmega_render_slider_content({
			'title': 'mediafile.list'|trans({'%count%': filesWidget.count}, params.domain),
			'params': params|merge({'filesWidget': filesWidget}),
			'templates': {
				'content': params.path ~ 'inc/_content.html.twig',
				'menu': params.path ~ 'inc/_actions.html.twig'
			}
		})
	}}
</div>