{% trans_default_domain params.domain %}

{% set filesWidget = params.filesWidget %}
{% set links = [] %}

{% if filesWidget.show %}
    {% set links = links|merge([
            {
                'load': true,  'icon': 'plus-circle', 'title': 'mediafile.create'|trans,
                'path': path(params.route ~ 'add', {'folder': filesWidget.folder})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': filesWidget.info|trans},
        'links': links
    })
}}