{% trans_default_domain params.domain %}

{% set filesWidget = params.filesWidget %}

{% set arguments = {
        'filename': file.filename,
        'folder': filesWidget.folder,
        'route': filesWidget.route,
        'prop': filesWidget.prop,
        'id': filesWidget.id,
    }
%}

{% set links = [] %}

{% if mediatype.shortname == 'pictures' %}
    {% set links = links|merge([
            {
                'icon': 'magnifying-glass', 'title': 'mediafile.show'|trans, 
                'path': '#', 'css': 'allmega-file-preview', 'size': 'xl'
            }
        ])
    %}
{% elseif mediatype.shortname == 'videos' %}
    {% set args = arguments|merge({'type': 'base64'}) %}
    {% set links = links|merge([
            {
                'icon': 'circle-play', 'title': 'mediafile.play'|trans, 
                'path': path(params.route ~ 'load', args),
                'css': 'allmega-play-file', 'size': 'xl'
            }
        ])
    %}
{% endif %}

{% set links = links|merge([
        {
            'icon': 'download',
            'title': 'mediafile.upload'|trans,
            'path': path(params.route ~ 'load', arguments)
        }
    ])
%}

{% if filesWidget.show %}
    {% set links = links|merge([
            {
                'title': 'mediafile.delete'|trans,
                'confirm': true, 'icon': 'trash', 'type': 'delete',
                'path': path(params.route ~ 'delete', arguments)
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({'links': links}) }}