<div class="row">
    <div class="col-md-12">
       <div class="px-3">
            {% set filesExists = false %}

            {% for mediatype in params.filesWidget.mediatypes %}
                {% if mediatype.files %}
                    {% set filesExists = true %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}

            {% if filesExists %}
                {% set navid = params.filesWidget.navid %}
                {% include params.path ~ 'inc/nav/_tabs.html.twig' %}
                {% include params.path ~ 'inc/nav/_areas.html.twig' %}
            {% else %}
                <p class="text-muted">{{ 'mediafile.empty'|trans({}, params.domain) }}</p>
            {% endif %}
        </div>
    </div>
</div>