{% if mediatype.shortname == 'pictures' %}
    <div class="float-end">
        {{ allmega_render_link({
                'path': path(params.route ~ 'gallery', {'folder': params.filesWidget.folder}),
                'icon': 'photo-film', 'title': 'mediafile.gallery'|trans({}, params.domain), 
                'css': 'allmega-show-gallery', 'size': 'xl'
            })
        }}
    </div>
{% endif %}

<div>&nbsp;</div><hr>
<div class="row">
    {% for file in mediatype.files %}
        <div class="col-md-3 mb-4">
            <div class="h-100 shadow-lg allmega-mediafile-area">
                <div class="mx-3 pt-3">
                    <div class="float-end">{% include params.path ~ 'inc/_btns.html.twig' %}</div>
                    <div>
                        <span class="fw-bold">
                            {{ 'mediafile.label.filesize'|trans({}, params.domain) }}
                        </span>&nbsp;&nbsp;
			            {{ file.size|allmega_format_bytes }}
                    </div>
                </div>
                <hr>
                {% set template = mediatype.shortname|replace({'media.': ''}) %}
                {% include params.path ~ 'types/_' ~ template ~ '.html.twig' %}
            </div>
        </div>
    {% endfor %}
</div>