{% extends '@AllmegaMedia/layout.html.twig' %}

{% block title %}
    {{ 'gallery.list'|trans({}, params.domain) ~ ' | ' ~ gallery.title }}
{% endblock %}

{% block main %}
    <div class="row allmega-boxes-area">
        {{ render(controller('Allmega\\MediaBundle\\Controller\\GalleryController::buildMenu')) }}
        {{ include(params.path ~ 'inc/_list.html.twig') }}
    </div>
    {{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, params.domain)}) }}
{% endblock %}