{% trans_default_domain params.domain %}

{% set mediatype = params.mediatype %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'inc/_info.html.twig')},
        'links': [
            {
                'load': true,  'icon': 'edit', 'title': 'mediatype.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': mediatype.id})
            },
            {
                'confirm': true, 'state': mediatype.active,
                'path': path(params.route ~ 'state', {'id': mediatype.id}),
                'title': mediatype.active ? 'mediatype.deactivate'|trans : 'mediatype.activate'|trans
            }
        ]
    })
}}