{{ allmega_render_slider_wrapper({
        'template': params.path ~ 'inc/_slider.html.twig',
        'empty': 'mediatype.empty'|trans({}, params.domain),
        'params': params, 'items': mediatypes, 'card': true,
    })
}}