{% extends '@AllmegaMedia/layout.html.twig' %}

{% block title %}
    {{ 'mediatype.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {% include params.path ~ 'inc/_heading.html.twig' %}
    {% include params.path ~ 'inc/_slider_wrapper.html.twig' %}
    {{ allmega_render_pagination(mediatypes) }}
    {{ allmega_render_confirmation({'action': 'state', 'message': 'mediatype.state_confirm'|trans({}, params.domain)}) }}
{% endblock %}