{{ allmega_render_form({
        'heading': {
            'title': {'icon': 'file-alt', 'content': 'mediafile.create'|trans({}, params.domain)}
        },
        'form': {
            'load': true, 'content': params.form, 'path': path(params.route ~ 'add', {'folder': folder})
        },
        'errorMessages': errorMessages
    })
}}