<div class="tab-content" id="nav-tabContent-{{ navid }}">
    {% set firstTab = true %}
    {% for mediatype in params.filesWidget.mediatypes %}
        {% if mediatype.files %}

            {% set tabid = navid ~ '-' ~ mediatype.shortname %}
            {% set active = firstTab ? ' show active' : '' %}
            {% set firstTab = false %}

            <div class="tab-pane fade{{ active }}" id="nav-{{ tabid }}" role="tabpanel" aria-labelledby="nav-{{ tabid }}-tab" tabindex="0">
                {% include params.path ~ 'inc/_files.html.twig' %}
            </div>
        {% endif %}
    {% endfor %}
</div>