<nav>
    <div class="nav nav-tabs" id="nav-tab-{{ navid }}" role="tablist">
        {% set firstTab = true %}
        {% for mediatype in params.filesWidget.mediatypes %}
            {% if mediatype.files %}
                {% set active = firstTab ? ' active' : '' %}
                {% set selected = firstTab ? ' true' : 'false' %}
                {% set firstTab = false %}
                {% set tabid = navid ~ '-' ~ mediatype.shortname %}
                <button class="nav-link{{ active }}" id="nav-{{ tabid }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ tabid }}" type="button" role="tab" aria-controls="nav-{{ tabid }}" aria-selected="{{ selected }}">{{ mediatype.name }}</button>
            {% endif %}
        {% endfor %}
    </div>
</nav>